<!DOCTYPE html>
<html>
<th:block th:block th:replace="fragments/general.html :: page_header" />
<body>

		<form th:action="@{/modify}" th:object="${item}">
		<input type="hidden" name="id" th:value="*{id}"/><br>
		<table>
			<tr><td align="center" colspan="2">Edit Item</td></tr>
			<tr><td>Description</td><td><input type="text"  th:field="*{description}" th:value="*{description}" /></td></tr>
			<tr><td>Color: </td><td><input type="text"  th:field="*{color}" th:value="*{color}"  /></td></tr>
			<tr><td>Weight </td><td><input type="number" th:field="*{weight}" th:value="*{weight}"  /></td></tr>
			<tr><td>Quantity </td><td><input type="number" th:field="*{quantity}" th:value="*{quantity }"  /></td></tr>
			<tr><td align="center" colspan="2"><input type="submit" value="Go!" /></td></tr>
		</table>
	</form>
		<a href="" th:href="@{/showIds}">Show Items by Id</a>&nbsp;
</body>
</html>